.hat {
  width: 150px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgb(105, 95, 88); */
  border-radius: 16px;
}

.hat__price {
  font-size: 2em;
  font-weight: bold;
}

.hat__name {
  font-size: 1.5em;
  font-weight: bolder;
}

.hat__preview {
  width: 150px;
  height: 150px;
  aspect-ratio: 1/1;
  object-fit: cover;
  background-color: rgb(216, 216, 216);
  border-radius: 16px;
}

.hat__info {
  display: block;
  padding: 1em;
}

.hat__info > * {
  margin-top: 0.5em;
}
