.hat {
  width: 150px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: start;
  border-radius: 16px;
}

.hat__info {
  text-align: start;
}

.hat__price {
  font-size: 2em;
  font-weight: bold;
}

.hat__name {
  font-size: 1.5em;
  font-weight: bolder;
}

.hat__preview {
  width: 150px;
  height: 150px;
  aspect-ratio: 1/1;
  object-fit: cover;
  background-color: rgb(216, 216, 216);
  border-radius: 16px;
}

.hat__info > * {
  margin-top: 0.5em;
}
