.block__in {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.block__in span {
  transition: all;
}

.block__in p {
  font-size: 2em;
}

.hearts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.hearts * {
  height: 4vw;
  width: 4vw;

  image-rendering: pixelated;
}

.hearts .active {
  background-image: url("/images/hcheart.png");  
  background-size: 100%;
  background-repeat: no-repeat;
}

.hearts .active-on-half {
  background-image: url("/images/hcheart-half.png");  
  background-size: 100%;
  background-repeat: no-repeat;
}

.hearts .nonactive {
  visibility: hidden;
}