.block {
  font-size: 2em;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1vw;
}

.online {
  display: flex;
  justify-content: space-between;
}

.online > * {
  font-size: 1.5em;
  font-weight: bold;
}

@media (width <= 550px) {
  .online > * {
    font-size: 1em;
  }
}

@media (width <= 320px) {
  .online > * {
    font-size: 0.7em;
  }
}

.block__in {
  display: flex;
  text-align: center;
}

.block__in > * {
  flex: 1;
}

.hearts {
  display: flex;
  flex-flow: row wrap;
  gap: 1vw;
  justify-content: space-evenly;
}

.hearts * {
  flex: 1;
  aspect-ratio: 1/1;
  image-rendering: pixelated;
  background-size: 100%;
  background-repeat: no-repeat;
}

.hearts > * {
  position: relative;
  animation: bounce 4s ease-out infinite alternate;
}

.hearts span:nth-child(1) { animation-delay: .1s; }
.hearts span:nth-child(2) { animation-delay: .15s; }
.hearts span:nth-child(3) { animation-delay: .2s; }
.hearts span:nth-child(4) { animation-delay: .25s; }
.hearts span:nth-child(5) { animation-delay: .3s; }
.hearts span:nth-child(6) { animation-delay: .35s; }
.hearts span:nth-child(7) { animation-delay: .4s; }
.hearts span:nth-child(8) { animation-delay: .45s; }
.hearts span:nth-child(9) { animation-delay: .5s; }
.hearts span:nth-child(10) { animation-delay: .55s; }

@keyframes bounce {
  0% {
    bottom: 0;
  }
  
  48% {
    bottom: 0;
  }

  50% {
    bottom: 50%;
  }
  
  52% {
    bottom: 0;
  }

  100% {
    bottom: 0;
  }
}

.hearts .active {
  background-image: url('/images/hcheart.png');
}

.hearts .active-on-half {
  background-image: url('/images/hcheart-half.png');
}

.hearts .nonactive {
  background-image: url('/images/hcheart-empty.png');
}
