.centered-page {
  width: 100%;
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hardcore-page {
  min-height: calc(100vh - 64px);
  width: 100%;
  background-color: #001529;
  color: white;
}

.hardcore-page > * {
  margin: 8vh 16vw;
}

.points .point {
  color: white;
  font-size: large;
}


.description_point {
  font-size: large;
}

.description_dop {
  font-size: medium;
  color: #8c8c8c;
}

.description p {
  padding: 0.5em;
}

.about .point {
  font-size: large;
}

.condition-of-use {
  width: 100%;
  padding: 10vh 16vw;
}

.condition-of-use p {
  font-size: large;
}
@media (max-width: 500px) {
  .condition-of-use p {
    font-size: small;
  } 
}

.profile-page {
  width: 100%;
  padding: 4vh 4vw;
}

.profile-page__user {
  width: fit-content;
}

.profile-page__user__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.hardcore-page__ip {
  font-size: 4em;
}

@media (max-width: 700px) {
  .hardcore-page__ip {
    font-size: 8vw;
  }
}

.hardcore-page__ip a {
  margin-left: 1em;
}