.centered-page {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hardcore-page {
  min-height: calc(100vh - 64px);
  width: 100%;
  color: white;
}

.hardcore-page > * {
  margin: 1em 16vw;
}

.hardcore-page > *:nth-child(1) {
  margin-top: calc(64px + 1em);
}

@media (width <= 700px) {
  .hardcore-page > * {
    margin: 8vh 8vw;
  }
}

.points__table {
  border-spacing: 2em 1em;
}

@media (width <= 700px) {
  .points__table tr td:nth-child(1) {
    display: none;
  }
}

.points,
.description,
.about {
  background-color: #001a33;
  border-radius: 16px;
}

.points h1,
.description h1,
.about h1 {
  font-size: 2em;
}

.points {
  padding-top: 0.1em;
  padding-bottom: 2em;
}

.points span {
  color: rgb(245 34 45);
}

.points__dup .points__title {
  color: white;
  display: inline;
  margin-right: 2em;
}

@media (width <= 1050px) {
  .points__dup .points__title {
    margin-right: 0;
  } 
}

.points__dup .points__title span {
  color: rgb(245 34 45);
}

.points .point {
  color: white;
  font-size: large;
}

.points .points__title {
  margin: 1em;
  text-align: center;
  color: white;
}

.points .point__prefix {
  color: white;
  font-size: x-large;
  font-weight: bold;
}

@media (width <= 600px) {
  .point__prefix {
    display: none;
  }
}

.description {
  padding: 2em;
}

.description_point {
  font-size: large;
}

.description_dop {
  font-size: medium;
  color: #8c8c8c;
}

.description p {
  padding: 0.5em;
}

.about {
  padding: 2em;
}

.about .point {
  font-size: large;
}

.condition-of-use {
  width: 100%;
  padding: 10vh 16vw;
}

.condition-of-use p {
  font-size: large;
}

@media (width <= 500px) {
  .condition-of-use p {
    font-size: small;
  }
}

.profile-page {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 4vh 4vw;
}

.profile-page__user {
  width: fit-content;
}

.profile-page__user__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.hardcore-page__ip {
  display: inline;
  font-size: 2em;
  font-weight: bold;
}

@media (width <= 1050px) {
  .hardcore-page__ip {
    display: block;
    text-align: left;
  } 
}

@media (width <= 700px) {
  .hardcore-page__ip {
    font-size: 6vw;
  }
}

.profile-page__user__info {
  display: flex;
}

.profile-page__user__info p {
  font-weight: bold;
  font-size: large;
}

.profile-page__user__info .profile-page__user__info__email {
  flex: 1;
  text-align: right;
}

.contacts-page {
  margin-top: 80px;
  width: 100%;
  height: fit-content;
  padding: 16px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 4em;
}

.contacts-page * {
  height: fit-content;
  width: fit-content;
}

.contacts-page__messengers__title,
.contacts-page__emails__title {
  font-size: 2em;
  font-weight: bold;
}

.contacts-page__messengers__contact {
  padding: 1em 0;
  display: flex;
  align-items: center;
}

.contacts-page__messengers__contact__text {
  font-size: 1.5em;
}

.contacts-page__messengers__contact * {
  margin: 0 0.2em;
}

.contacts-page__messengers__contact img {
  width: 1.5em;
  height: 1.5em;
  display: block;
}

.contacts-page__emails__contact {
  padding: 1em 0;
}

.contacts-page__emails__contact * {
  font-size: 1.5em;
  font-weight: bold;
}
