.centered-page {
  width: 100%;
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hardcore-page {
  min-height: calc(100vh - 64px);
  width: 100%;
  background-color: #001529;
  color: white;
}

.hardcore-page > * {
  margin: 8vh 16vw;
}

@media (max-width: 700px) {
  .hardcore-page > * {
    margin: 8vh 8vw;
  }
}

.points__table {
  border-spacing: 2em 1em;
}

.points .point {
  color: white;
  font-size: large;
}

.points .points__title {
  margin: 1em;
  text-align: center;
  color: white;
}

.points .point__prefix {
  color: white;
  font-size: x-large; 
  font-weight: bold;
}

@media (max-width: 600px) {
  .point__prefix {
    display: none;
  }
}

.points span  {
  color: rgb(245, 34, 45);
} 

.description_point {
  font-size: large;
}

.description_dop {
  font-size: medium;
  color: #8c8c8c;
}

.description p {
  padding: 0.5em;
}

.about .point {
  font-size: large;
}

.condition-of-use {
  width: 100%;
  padding: 10vh 16vw;
}

.condition-of-use p {
  font-size: large;
}
@media (max-width: 500px) {
  .condition-of-use p {
    font-size: small;
  } 
}

.profile-page {
  width: 100%;
  width:100%;
  display: flex;
  justify-content: center;
  padding: 4vh 4vw;
}

.profile-page__user {
  width: fit-content;
}

.profile-page__user__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.hardcore-page__ip {
  font-size: 2em;
  font-weight: bold;
}

@media (max-width: 700px) {
  .hardcore-page__ip {
    font-size: 6vw;
  }
}