.main-page-preview {
  height: calc(100vh - 64px);
  width: 100%;

  background-size: cover;
  background-position: center;

  color: white;
  font-size: 60px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  font-size: 4vh;
  text-transform: uppercase;
}

.info {
  padding: 0 10vw;
  text-transform: uppercase;
  height: 3dvh;

  font-size: 4vw;
  font-weight: bold;
  text-align: center;
}

@media screen and (orientation:portrait) {
  .info {
    font-size: 4vh;
  }
}

.to-servers {
  color: #ff4d4f !important;
  border: #ff4d4f solid 4px;
  background-color: #001529D0;
  border-radius: 10vw;
  padding: 12px 30px;
  text-transform: uppercase;
  margin: 50px 0;

  font-size: 3vw;

  cursor: pointer;
}
