.main-page-preview {
  height: calc(100vh - 64px);
  width: 100%;

  background-image: url('/images/bg-main.gif');
  background-size: cover;
  background-position: center;

  color: white;
  font-size: 60px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  font-size: 4vh;
  text-transform: uppercase;
}

.info {
  padding: 0 10vw;
  text-transform: uppercase;
  height: 3dvh;

  font-size: 3.5vw;
  font-weight: 400;
  text-align: center;
}

.to-servers {
  color: #ff4d4f !important;
  border: #ff4d4f solid 4px;
  background-color: #001529D0;
  border-radius: 10vw;
  padding: 15px 50px;
  text-transform: uppercase;
  margin: 150px 0;

  font-size: x-large;
  transition: transform 0.5s;
  cursor: pointer;
}
.to-servers:hover{
  transform: scale(1.05);
}

.logo {
  margin: 0 32px;
  transform: scale(0.8);
}

@media (orientation:portrait) {
  .info {
    font-size: 3.5vh;
  }
}

@media (max-width: 600px) {
  .to-servers {
    font-size: large;
  }
}