.button{
    background: 0;
    border: 0.4dvb solid #ffffff;
    border-radius: 100dvh;
    font-family: 'Manrope';
    font-weight: 600;
    color: #fff;
    font-size: 3dvh;
    transition: color 0.1s, border 0.1s, transform 0.5s;
}
.button:hover{
    transform: scale(1.05);
    color: #a00;
    border: 0.4dvb solid #a00;
}