.head{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(#34495E, #2C3E50);
    width: 100dvw;
    position: fixed;
}
.items{
    max-height: 3dvw;
    margin: 2dvb;
    text-transform: uppercase;
}
.navbar{
    margin: 0 2dvb;
    max-height: 3dvw;
}