.mainblock{
    background-image: url("/public/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -300px;
    height: 100dvh;
    image-rendering: pixelated;
}
.innertitle{
    display: flex;
    justify-content: center;
}
.titleimg{
    margin-top: 30dvh;
    scale: 1.3;
}
.bigtext{
    display: flex;
    justify-content: center;
    font-size: 26pt;
    text-shadow: 1px 1px 2px black;
}
.button{
    margin-top: 8dvh;
    box-sizing: border-box;
    width: 13dvw;
    height: 5dvh;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16pt;
}