.header{
  padding: 2.5% 10% 2.5% 10%;
  background: linear-gradient(#313244, #45475A);
  display: flex;
  justify-content: space-around;
}
@font-face {
  font-family: 'Manrope';
  src: url("Manrope-VariableFont_wght.ttf");
}
.headerText{
  font-size: 50px;
}
h1{
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 300%;
  line-height: 44px;
  color: white;
}
.projects
{
  padding: 1% 20% 2.5% 20%;
  background-color: #313344;
}
.projectsIn{
  display: flex;
  justify-content: space-around;
}
.hserv
{
  width: 100%;
}
.linearGrad{
  height: 10px;
  background: linear-gradient(#45475A, #313244);
  margin-top: 10px;
}
.linearGradRev{
  height: 10px;
  margin-bottom: 10px;
  background: linear-gradient(#313244,#45475A);
}