* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root, body, html {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

.hardcore-heart-icon {
  background-image: url("/images/hcheart.png");
}