* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #1e1e2e;
}

#root,
body,
html {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

.hardcore-heart-icon {
  background-image: url('/images/hcheart.png');
}

.ant-message-custom-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}
